<div class="modal" id="dialogos">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="titlePrompt" class="modal-card-title"></p>
        </header>
        <section id="content" class="modal-card-body has-text-left">
            <p id="Info"></p>
            <input type="text" class="input is-fullwidth is-hidden" id="Input">
        </section>
        <footer class="modal-card-foot">
            <div class="has-text-right">
                <button class="button is-success" id="buttonpromptOK">Aceptar</button>
                <button class="button is-hidden" id="buttonpromptCANCEL">Cancelar</button>
            </div>
        </footer>
    </div>
</div>